{% extends 'base.html' %}
{% load mainApp_tags %}
{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Card Temperatura -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Temperatura média atual</div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">
                                {% if erroUltLeituras %}
                                    Falha na leitura.
                                {% else %}
                                    {{ tempMedia|floatformat:2 }}°C
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-temperature-low fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Umidade -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Umidade Média Atual</div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">
                                {% if erroUltLeituras %}
                                    Falha na leitura.
                                {% else %}
                                    {{ umidadeMedia|floatformat:2 }}%
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cloud fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Leituras -->
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Últimas Leituras
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="mb-0 mr-3 text-gray-800">
                                    {% if erroLeitura %}
                                        Falha na leitura.
                                    {% else %}
                                        {% for i in ultLeituras %}
                                            Sensor {{i.sensorId}}: {{ i.temperatura|floatformat:2 }}°C, {{ i.umidade|floatformat:2 }}%<br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-table fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Gráfico de temperatura e umidade -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Gráfico de Temperatura e Umidade</h6>
                    {% comment %} <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> {% endcomment %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        {% comment %} <canvas id="myAreaChart"></canvas> {% endcomment %}
                        <div id="chart_div" style="height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gráfico de Sementes -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Gráfico de Sementes</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Unidade:</div>
                            {% for unidade in unidades %}
                                <button 
                                    class="btn" 
                                    onclick="mudarGraficoSemente('sementesChart{{ unidade.id }}')" 
                                    {% if not qtdSementes|dictitem:unidade %}
                                        title="Não existem sementes com essa unidade." disabled 
                                    {% else %} 
                                        title="Clique para mudar o gráfico para essa unidade." 
                                    {% endif %}>
                                    {{ unidade.nome }} ({{unidade.sigla}})
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" style="height: 100%">
                    <div class="chart-pie" style="height: 100%">
                        {% comment %} <canvas id="myPieChart"></canvas> {% endcomment %}
                        {% for unidade in unidades %}
                            <div id="sementesChart{{ unidade.id }}" class="sementesChart"></div>
                        {% endfor %}
                    </div>
                    {% comment %} <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> 
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}