{% load static %}
{% block etiqueta %}
    <div class="card mb-4 border-dark">
        <div class="card-header border-dark h5 font-weight-bold">
            Recipiente {{recipiente.pk}}
        </div>
        <div class="row no-gutters">
            <div class="col-4">
                <div class="card-body">
                    <img class="img-fluid" src="{{recipiente.qrCode.url}}" alt="QRCode {{recipiente.qrCode.name}}">
                </div>
            </div>
            <div class="col-8">
                <div class="card-body border-dark">
                    <p class="text-left">
                        <span class="font-weight-bold">Espécie: </span>{{recipiente.registroEntrada.variedade.especie}}
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Variedade: </span>{{recipiente.registroEntrada.variedade}}
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Guardião: </span>{{recipiente.registroEntrada.guardiao}}
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Quantidade: </span>{{recipiente.quantidade}} {{recipiente.unidade.sigla}}
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Data de Entrada: </span>{{ recipiente.registroEntrada.data|date:"d/m/Y" }}
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Data de Validade: </span>{{recipiente.registroEntrada.dataValidade|date:"d/m/Y" }} ({{recipiente.registroEntrada.variedade.validade}} dias)
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Posição de Armazenamento: </span>{{recipiente.posicao}}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock etiqueta %}