{% extends 'base.html' %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Registros de Entrada</h1>
    <p class="mb-4">Lista de todos os lotes de entrada de sementes.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        {% comment %} <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Título</h6>
        </div> {% endcomment %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cód</th>
                            <th>Variedade</th>
                            <th>Guardião</th>
                            <th>Entrada</th>
                            <th>Estado</th>
                            <th>Comunidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Cód</th>
                            <th>Variedade</th>
                            <th>Guardião</th>
                            <th>Entrada</th>
                            <th>Estado</th>
                            <th>Comunidade</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for registroentrada in object_list %}
                            <tr>
                                <td><a href="{% url 'mainApp:recipientes' %}?registro={{ registroentrada.pk }}">{{ registroentrada.pk }}</a></td>
                                <td>{{ registroentrada.variedade.nome }}</a></td>
                                <td>{{ registroentrada.guardiao.nome }}</td>
                                <td>{{ registroentrada.data|date:"d/m/Y" }}</td>
                                <td>{{ registroentrada.enderecoGuardiao.estado }}</td>
                                <td>{{ registroentrada.enderecoGuardiao.comunidade }}</td>
                                <td>
                                    <a href="{% url 'mainApp:etiquetas_registro_entrada' registroentrada.pk %} "><i class="fas fa-print fa-md text-white-80"></i></a>
                                    <a href="{% url 'admin:mainApp_registroentrada_change' registroentrada.pk %}?registro={{ registroentrada.pk }}"><i class="fas fa-edit fa-md text-white-80"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}