{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-11">
            <h1 class="h3 mb-2 text-gray-800">Registro de Entrada {{ registroEntrada }}</h1>
            <p class="mb-4">Dados do registro de entrada de sementes (lote) {{ registroEntrada }}: </p>
        </div>
        <div class="col-sm-1">
            {% comment %} <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i {% endcomment %}
                {% comment %} class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> {% endcomment %}
            <button type="button" class="btn btn-link rounded-circle btn-primary" id="dropdownMenuRegistro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars text-white"></i>
            </button>
            <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuRegistro">
                <a class="dropdown-item" href="{% url 'admin:mainApp_testetransgenia_add' %}">Registrar Teste de Transgenia</a>
                <a class="dropdown-item" href="{% url 'admin:mainApp_testeumidade_add' %}">Registrar Teste de Umidade</a>
                <a class="dropdown-item" href="{% url 'admin:mainApp_testegerminacao_add' %}">Registrar Teste de Germinação</a>
                <a class="dropdown-item" href="{% url 'admin:mainApp_registrosaida_add' %}">Registrar Saída de Recipientes</a>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        {% comment %} <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Título</h6>
        </div> {% endcomment %}
        <div class="row no-gutters">
            <div class="col-4">
                <div class="card-body">
                    {% with image=registroEntrada.imagem_set.all|first %}
                        <img class="img-fluid" src="{{ image.imagem.url }}" alt="img">
                    {% endwith %} 
                </div>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <p class="text-left">
                        <span class="font-weight-bold">Espécie: </span>{{registroEntrada.variedade.especie}}
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Variedade: </span>{{registroEntrada.variedade}}
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Guardião: </span>{{registroEntrada.guardiao}}
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Data de Entrada: </span>{{ registroEntrada.data|date:"d/m/Y" }}
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Data de Validade: </span>{{registroEntrada.dataValidade|date:"d/m/Y" }} ({{registroEntrada.variedade.validade}} dias)
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bold">Local: </span>{{ registroEntrada.enderecoGuardiao.comunidade }}, {{ registroEntrada.enderecoGuardiao.municipio }} -  {{ registroEntrada.enderecoGuardiao.estado }}
                    </p>
                </div>
            </div>
        </div>
    </div>    
    <hr class="mt-4 mb-4"/>

    {% include 'listRecipientesIncorporar.html' %}

    <hr class="mt-4 mb-4"/>

    <h1 class="h3 mb-2 text-gray-800">Testes</h1>
    <p class="mb-4">Testes do registro de entrada de sementes (lote) {{ registroEntrada }}: </p>
    <hr class="mt-4 mb-4"/>
{% endblock content %}